p, h1{
    font-family: 'Markazi Text';
    font-style: normal;
}

h1 {
font-size:36px;
writing-mode: sideways-lr;
position: fixed;
top: 8%;
}

.e36 {
text-align: left;
font-size: 36px;
}

.c36 {
text-align: center;
font-size: 36px;
}

.c28 {
    text-align: center;
    font-size: 28px;
}

.e28 {
    text-align: justify;
    font-size: 28px;
}

.e24 {
text-align: justify;
font-size: 22px;
}

.c24 {
text-align: center;
font-size: 22px;
}

.d24 {
    text-align: right;
    font-size: 22px;
}


.e20 {
    text-align: left;
    font-size: 20px;
}

.c18 {
text-align: center;
font-size: 18px;
}