body {
    width: 1625px;
    height: 100%;
    margin: auto;
}

h1 {
    font-size: 24px;
    writing-mode: vertical-lr;
    position: fixed;
    top: 8%;
}

p {
    text-align: justify;
}

#a {
    position: relative;
    width: 119px;
    height: 0px;
    left: 295px;
    top: 582px;

    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
}

#b {
    position: relative;
    height: 0px;
    left: 516px;
    top: 560px;
}