body {
    width: 95%;
    height: 100%;
    margin: auto;
}

h1 {
    font-family: 'Markazi Text';
    font-style: regular;
    font-size:36px;
    writing-mode: sideways-lr;
    position: fixed;
    top: 8%;
}

#corpo {
    width: 90%;
    position: relative;
    top: 8%;
    margin: auto;
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-column-gap: 20px;
}

img {
    width: 100%;
    position: sticky;
    top: 8%;
}

#texto {
    font-family: 'Markazi Text';
    font-style: regular;
    font-size: 18px;
    text-align: justify;
}