body {
    width: 1625px;
    height: 100%;
    margin: auto;
}

.teia {
    width: 1567px;
    height: 90%;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 2fr;
}

#a {
    width: 325px;
    height: 260px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2.5' stroke-dasharray='10%2c10' stroke-dashoffset='11' stroke-linecap='butt'/%3e%3c/svg%3e");
    grid-column: 1/2;
    grid-row: 3/5;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


    #a1 {
        margin: 0;
        width: 60%;
        line-height: 50px;
    }

 #b {
    line-height: 150px;
    grid-column: 2/3;
    grid-row: 3/5;
    align-self: start;
    position: relative;
    top: -60px
 }

 #c {
    grid-column: 3/4;
    grid-row: 3/5;
    align-self: end;
    line-height: 85px;
    justify-self: center;
    position: relative;
    left: -25px;
 }

 #d {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2.5' stroke-dasharray='10%2c10' stroke-dashoffset='11' stroke-linecap='butt'/%3e%3c/svg%3e");
    width: 325px;
    height: 260px;
    grid-column: 4/5;
    grid-row: 2/4;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
 }

    #d1 {
        margin: 0;
        width: 60%;
        line-height: 50px;
    }

#e {
    width: 255px;
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: center;
    position: relative;
    top: 30px;
}